# Google AI API Key
GEN_AI_KEY=tu_google_ai_api_key_aqui

# MySQL Database Configuration
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=alhmail_security

# Backend Database Connection
DB_HOST=mysql
DB_PORT=3306
DB_NAME=alhmail_security
DB_USER=root
DB_PASSWORD=

# Email Configuration
GMAIL_USER=tu_email@gmail.com
GMAIL_PASS=tu_app_password

# Node Environment
NODE_ENV=production